<html>
<body>

<% require './lib/post_reader.rb' %>

<% page = params["splat"][0].slice(1..-1) %>
<% PER_PAGE = PostReader::PER_PAGE %>
<% blog = PostReader.new %>

<% if page == 'all' %>
  <h3>All <%=blog.count%> posts:</h3>
  <ul>
    <% blog.most_recent(blog.count).each do |post| %>
      <%=post.index_entry%>
    <% end %>
  </ul>

<% else %>
  <% page = page.to_i %>

  <% if blog.first_page?(page) %>
    <h3><%=blog.first_index_heading%></h3>
    <ul>
      <% blog.most_recent(PER_PAGE).each do |post| %>
        <%=post.index_entry%>
      <% end %>
    </ul>

  <% else %>
    <h3><%=blog.later_index_heading(page)%></h3>

    <% if blog.last_page?(page) then page = blog.last_page end %>

    <ul>
      <% blog.slice((page-1)*PER_PAGE, PER_PAGE).each do |post| %>
        <%=post.index_entry%>
      <% end %>
    </ul>
  <% end %>
<% end %>

<br>
<nav>
  <div class = "blog-nav" >
    <%= page == 'all' ? blog.footer_all : blog.footer_links(page) %>
  </div><!--blog-nav-->
</nav>

</body>

<script src="/js/jquery.js" type="text/javascript"></script>
<script src="/js/my_app.js" type="text/javascript"></script>

</html>
