<% require './lib/post_reader.rb' %>

<% page = params["splat"][0].slice(1..-1).to_i %>
<% PER_PAGE = PostReader::PER_PAGE %>
<% blog = PostReader.new %>

<% if blog.first_page?(page) %>

  <h3><%=blog.first_index_heading%></h3>

  <ul>
    <% blog.most_recent(PER_PAGE).each do |post| %>
      <%=post.index_entry%>
    <% end %>
  </ul>

<% else %>

  <h3><%=blog.later_index_heading(page)%></h3>

  <% if blog.last_page?(page) then page = blog.last_page end %>
  <ul>
    <% blog.slice((page-1)*PER_PAGE, PER_PAGE).each do |post| %>
      <%=post.index_entry%>
    <% end %>
  </ul>

<% end %>

<hr>
<div class = "blog_navigation" >
<a href="/blog-index">First Page</a>
<%=blog.footer_links(page)%>
<a href="/blog-index/<%=blog.last_page%>">Last Page</a>
</div>
